// Font imports and stacks
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$main: "Merriweather", "Helvetica", "Arial", sans-serif;


// Colors

$bg: #fffbf0;
$brand: #FFF2CD;

$text: #3E4648;
$text-light: #A4A9AB;
$white: #ffffff;
$link: #1AB1C9;